.navbar {
    padding: 4px;
  }

.navbar-brand {
    font-family: 'Quicksand', 'Raleway', Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}

.nav-link {
    font-size: 15px;
}

.nav-block {
    display: flex;
    width: 300px;
    text-align: center;
    color: #ffffff;
}

.details {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.details a {
    color: darkgrey;
    text-align: center;
    display: block;   
    
}

/*0 - 284px: No title. 3 rows of icons*/
@media (max-width: 300px) {

    .nav-block {
        display: none;
    }
    
    .container-body {
        margin-top: 298px;
    }

}

/*285 - 619px: No title. 2 rows of icons*/
@media (min-width: 300.1px) {

    .nav-block {
        display: none;
    }
    
    .title {
        max-width: 100%;
    }

    .iconarray {
        width:328px;
    }
    
    .container-body {
        margin-top: 214px;
    }

}

/*620 - 888px: No title. 1 row of icons*/
@media (min-width: 636px) {

    .container-body {
        margin-top: 130px;
    }

    .navbar-dark {
        display: block;
    }

    .iconarray {
        width:580px;
    }

}

/*888 - 1200px: Title left, 1 row of icons right*/
@media (min-width: 888px) {

    .nav-block {
        display: flex;
    }

    .details {
        display: none;
    }

    .navbar-dark {
        display: flex;
    }

    .container-body {
        margin-top: 130px;
    }

}

/*1201+px: Full navbar. Title/Icons/Details */
@media (min-width: 1201px) {

    .nav-block {
        display: flex;
    }
    
    .details {
        height: 58px;
        display: inline-block;
    }

}

/* Icon Classes */
.icon-nav {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px;
    width: 75px;
}

.icon-nav img {
    background-clip: content-box;
    background-color: #ffffff;
    padding: 2px;
}

.icon-nav span {
    color: darkgrey;
    text-align: center;
    display: block;
}

/* Index - Red */
.index:hover img {
    background-color: #dc3545;
    border-radius: 50%; 
    border:2px solid #dc3545;
    padding: 0;
}

.index:hover span {
    color: #ffffff;
}

/* About - Orange */
.about:hover img {
    background-color: #fd7e14;
    border-radius: 50%; 
    border:2px solid #fd7e14;
    padding: 0;
}

.about:hover span {
    color: #ffffff;
}

/* Resume - Yellow */
.resume:hover img {
    background-color: #ffc107;
    border-radius: 50%; 
    border:2px solid #ffc107;
    padding: 0;
}

.resume:hover span {
    color: #ffffff;
}

/* Github - Green */
.github:hover img {
    background-color: #28a745;
    border-radius: 50%; 
    border:2px solid #28a745;
    padding: 0;
}

.github:hover span {
    color: #ffffff;
}

/* Trello - Teal 
.trello:hover img {
    background-color: #17a2b8;
    border-radius: 50%; 
    border:2px solid #17a2b8;
    padding: 0;
}

.trello:hover span {
    color: #ffffff;
}

LinkedIn - Blue */
.linkedin:hover img {
    background-color: #007bff;
    border-radius: 50%; 
    border:2px solid #007bff;
    padding: 0;
}

.linkedin:hover span {
    color: #ffffff;
}

/* Email - Purple */
.email:hover img {
    background-color: #6f42c1;
    border-radius: 50%; 
    border:2px solid #6f42c1;
    padding: 0;
}

.email:hover span {
    color: #ffffff;
}

/* Hoverover */    
.hoverline {
    display: inline-block;
    text-decoration: none;
}

.hoverline img {
  background-color: #ffffff;
}

.hoverline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition: width .3s;
}

.hoverline:hover::after {
    width: 100%;
    background-color: #ffffff;
}

.rainbow:hover {
    /* Chrome, Safari, Opera */
    -webkit-animation: rainbow 7s infinite; 

    /* Internet Explorer */
    -ms-animation: rainbow 7s infinite;

    /* Standar Syntax */
    animation: rainbow 7s infinite; 
}
    
/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
    0%{color: #dc3545;}
    14%{color: #fd7e14}
    28%{color: #ffc107;}
    42%{color: #28a745;}
    56%{color: #17a2b8}
    70%{color: #007bff;}
    84%{color: #6f42c1;}
    96%{color: #ffffff;}        
}

/* Internet Explorer */
@-ms-keyframes rainbow{
    0%{color: #dc3545;}
    14%{color: #fd7e14}
    28%{color: #ffc107;}
    42%{color: #28a745;}
    56%{color: #17a2b8}
    70%{color: #007bff;}
    84%{color: #6f42c1;}
    96%{color: #ffffff;}
}

@keyframes rainbow{
    0%{color: #dc3545;}
    14%{color: #fd7e14}
    28%{color: #ffc107;}
    42%{color: #28a745;}
    56%{color: #17a2b8}
    70%{color: #007bff;}
    84%{color: #6f42c1;}
    96%{color: #ffffff;}
}