@import url("navbar.css");

/* Common */

body { 
  font-family: 'Raleway', arial, serif;  
}

.bg-dark {
  background-color: #000000!important;
  opacity: 0.7;
}

.container-body {
  text-align: center; 
  width: 100%; 
  margin-left:auto; 
  margin-right:auto; 
}

/* Resume specific */

.card-body {
  display: flex;
}

.card-picture {
  width: 20%;
}

.card-picture img {
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  border-radius: 20%; 
  border:2px solid black;
  object-fit: cover;
}

.card-content-typea {
  width:1000em;
  max-width: 85%;
  text-align: left;
}

.resume-card-typea .card-picture {
  margin-left: 0;
  margin-right: 2%;
}

.resume-card-typeb .card-picture {
  margin-left: 2%;
  margin-right: 0;
}

.card-content-typeb {
  width:1000em;
  max-width: 85%;
  text-align: right;
}

.container-portfolio img {
  max-width: 100%;
}

/* Media Queries */

/* Fullscreen */
@media (min-width: 888px) {

  .container-resume {
    position: relative;
    width: 60%;
    text-align: center; 
    margin-left:2%; 
    margin-right:auto; 
  }

  .resume-card-typea {
    width: 90%;
    margin-right: 0;
    margin-left: auto;
    border-left:3px solid black;
    padding-bottom:5px;
    text-align: left;
  }

  .resume-card-typeb {
    width: 90%;
    margin-left: 0;
    margin-right: auto;
    border-right:3px solid black;
    padding-bottom:5px;
    text-align: right;
  }

  .container-portfolio {
    position: relative;
    width: 33%;
    max-width: 33%;
    text-align: center; 
    margin-left:auto; 
    margin-right:2%; 
  }

  .aboutheader {
    margin-bottom: 2%;
    border-bottom: 3px solid black;
  }
  
  .mobileonly {
    display: none;
  }

  .fullscreenonly {
    display: block;
  }

}

/* Table */
@media (max-width: 887.98px) {

  .container-portfolio {
    padding-top:40px
  }

  .container-body {
    display: block;
    width: 90%;
    text-align: center; 
    margin-left:auto; 
    margin-right: auto;
  }

  .fullscreenonly {
    display: none;
  }
  
  .fullscreenflex {
    display: block!important;
  }

  .mobileonly {
    display:block;
  }

  .tabletflex {
  display: flex;
  }

}

/* Mobile */
@media (max-width: 636px) {
  .tabletflex {
    display: block!important;
  }
}

.aboutheader {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.aboutlist {
  width: 100%; 
  margin-left: auto; 
  margin-right: auto; 
  list-style-position: inside; 
  text-align: left
}

.fullscreenflex {
  display:flex;
}