@import url("navbar.css");

body { 
  padding-top: 90px; 
  font-family: 'Raleway', arial, serif;  
}

.bg-dark {
  background-color: #000000!important;
}

.hoverline {
    display: inline-block;
    text-decoration: none;
}

.hoverline img {
  background-color: #ffffff;
}

.hoverline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition: width .3s;
}

.hoverline:hover::after {
    width: 100%;
    background-color: #ffffff;
}

.container-body {
  text-align: center; 
  width: 100%; 
  margin-left:auto; 
  margin-right:auto; 
}

.card-body {
  display: flex;
}

.card-picture {
  width: 20%;
}

.card-picture img {
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  border-radius: 20%; 
  border:2px solid black;
  object-fit: cover;
}

.card-content-typea {
  width:1000em;
  max-width: 85%;
  text-align: left;
}

.resume-card-typea .card-picture {
  margin-left: 0;
  margin-right: 2%;
}

.resume-card-typeb .card-picture {
  margin-left: 2%;
  margin-right: 0;
}

.card-content-typeb {
  width:1000em;
  max-width: 85%;
  text-align: right;
}

.container-portfolio img {
  max-width: 100%;
}

@media (min-width: 768px) {

  .container-resume {
    position: relative;
    width: 60%;
    text-align: center; 
    margin-left:2%; 
    margin-right:auto; 
  }

  .resume-card-typea {
    width: 90%;
    margin-right: 0;
    margin-left: auto;
    border-left:3px solid black;
    padding-bottom:5px;
    text-align: left;
  }

  .resume-card-typeb {
    width: 90%;
    margin-left: 0;
    margin-right: auto;
    border-right:3px solid black;
    padding-bottom:5px;
    text-align: right;
  }

  .container-portfolio {
    position: relative;
    width: 33%;
    max-width: 33%;
    text-align: center; 
    margin-left:auto; 
    margin-right:2%; 
  }
}

@media (max-width: 767.98px) {

  .container-portfolio {
    padding-top:40px
  }

  .container-body {
    display: block!important;
    width: 90%;
    text-align: center; 
    margin-left:auto; 
    margin-right: auto;
  }

}

.aboutlist {
  width: 100%; 
  margin-left: auto; 
  margin-right: auto; 
  list-style-position: inside; 
  text-align: left
}

.flex {
  display:flex;
}